body{
    margin: 0px;
    width: 100%;
    background: #202020;
    font-family: "Lucida Console";
    font-size: 26px;
    color: #e0e0e0;
    background: linear-gradient(-45deg, #79155B, #C23373, #F6635C, #FFBA86);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.contentcalc{
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    min-width: 500px;
    margin-top: 100px;
    margin-left: calc(30% - 8px);
    background: linear-gradient(33deg, #121212 0%, #1b1b1b 100%); 
    border-radius: 15px;
    padding: 16px;
}

.item{
    display: flex;
    width: 100%;
}

.title{
    margin: auto;
}

.itemtext{
    margin: auto;
    font-size: 20px;
}

.break{
    flex-basis: 100%;
    height: 10;
}

.mid{
    margin: auto;
}

#min, #sec, #kmh{
    width: 100px;
}

#submittempo, #submitspeed{
    border-radius: 12px;
    padding: 3px 11px;
    font-weight: 600;
    background: linear-gradient(to right, #79155B 50%, white 50%);
    background-size: 210% 100%;
    background-position: right bottom;
    transition: all 0.7s ease-out;
}

#submittempo:hover, #submitspeed:hover{
    background-position: left bottom;
    color: #f0f0f0;
}

.alert{
    display: none;
    position: fixed;
    top: 0;
    margin-left: calc(30% - 10px);
    min-width: 567px;
    width: 40%;
    padding: 20px;
    background-color: #f44336;
    color: white;
    z-index: 2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 20px;
}

.closebtn{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

input[type=number], input[type=text]{
    border-radius: 10px;
    padding: 1px 7px;
}